@import 'tailwindcss';
@import 'uniwind';
@import 'heroui-native/styles';

@source './node_modules/heroui-native/lib';

@layer theme {
  :root {
    @variant light {
      --font-normal: 'Inter-Regular';
      --font-medium: 'Inter-Medium';
      --font-semibold: 'Inter-SemiBold';
      --font-bold: 'Inter-Bold';

      --font-display: 'SpaceGrotesk-Bold';

      --radius: 0.75rem;
    }

    @variant dark {
      --font-normal: 'Inter-Regular';
      --font-medium: 'Inter-Medium';
      --font-semibold: 'Inter-SemiBold';
      --font-bold: 'Inter-Bold';

      --font-display: 'SpaceGrotesk-Bold';

      --radius: 0.75rem;
    }
  }
}
